/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

div {
    background-color: black;
    width: 100%;
    min-height: 40px;
}

#muj-div {
    background-color: red;
    min-height: 20px;
}

.muj-div {
    background-color: aqua;
}

/* nav li */
/* nav > li */
/* nav li:first-child */
li {
    color: red;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: blueviolet;
}

a:hover {
    color: red;
}

/* [class] {
    background-color: aliceblue;
} */