
body {
    /* background-color: antiquewhite; */
    /* background-image: url('https://picsum.photos/400'); */
    
    /* background-size: cover; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
}

h1 {
    color: red;
    background-color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
    line-height: 180px;
    font-weight: normal;
    text-align: center;
}

p {
    text-transform: uppercase;
    font-size: 15px;
    /* font-size: 1.5rem; */
    /* font-size: 2em; */

    /* text-transform: capitalize; */
    /* text-align: center; */
    /* MDN Reference */
    /* text-shadow: 1px 1px 2px pink; */
}